<form method="post" action="{{ path('app_encadrant_delete', {'idEncadrant': encadrant.idEncadrant}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ encadrant.idEncadrant) }}">
    <button class="btn">Delete</button>
</form>
